$colour-shadow: #d4d4d4;
$colour-bloc:#f7f7f7;
$colour-primaire: #9356DC;
$colour-secondaire: #FF79DA;
$colour-tertiaire: #99E2D0;
$colour-gray: #5c5c5c;

$breakpoints: (
  desktop: 700px ,
  mobile-small: 360px
);